<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Online Book Platform Selection Test Automation Suite">
    <test name="Online Book Platform Selection Test Cases">
        <classes>
            <class name="com.onlinebookplatformselection.testcases.BestPlatformSelectionTest"></class>
        </classes>
    </test>
</suite>